<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>1B5E2D56-7237-4203-9373-8DE982B0E0D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4359C129-900A-4B45-AC1C-7810C9C534BF</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy to clipboard</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9E58A59B-D9AD-4847-8F90-7D3E54273362</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Search in Google ( by Inputed Text )</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1F011D4E-0137-4930-AEB4-155AC561026D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C8BFE82-69F5-4E5B-8A48-B3E8FB2EDA09</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Search in Google ( by Translated Text )</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4359C129-900A-4B45-AC1C-7810C9C534BF</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy to clipboard</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>22C5CD97-ADE8-453E-B0A4-F00654CDD445</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F3DC3DA-AF5C-4973-A542-1D8813FE0D32</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>297B243E-50AC-45B0-A068-60AE7719FD0A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7C80F7AC-1408-4C03-8627-5CA0904D9253</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2DB33E9B-FD0F-4716-9D9E-A996C59BB398</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F83014B-812A-457B-9DBB-FA56CC2F8EDE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2F9CA794-B73D-4681-91F7-C085DB042D1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70890AC2-ACAA-432B-8A0C-D940027DD8C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>31600DAD-FC8B-4AFC-BFF1-F74DE9B316DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>737238EF-AFCC-43D3-A087-80FDE8BCAE50</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3246C05F-EAD0-4C1A-A58F-880C7672A28D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A788A69B-39BF-44EA-BB2E-C37D184B0665</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3529227E-21E4-41D1-8E3E-AB6455398B8B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>456E3E52-A995-4BAB-9F38-07CCE0C82D67</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4359C129-900A-4B45-AC1C-7810C9C534BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC6BCD9F-E6CA-4C4A-9E87-621B88DA8678</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>456E3E52-A995-4BAB-9F38-07CCE0C82D67</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B5E2D56-7237-4203-9373-8DE982B0E0D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C8BFE82-69F5-4E5B-8A48-B3E8FB2EDA09</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4359C129-900A-4B45-AC1C-7810C9C534BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63F1ECA2-93AA-41D0-8867-ED6287A0C468</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AFF4720E-B980-42D2-88D7-3C8F5AE2BB15</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>682D1F7F-6C57-4135-9C80-2947256E73AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E4D2CA9E-A247-4F1E-A561-1B408624D312</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70890AC2-ACAA-432B-8A0C-D940027DD8C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F011D4E-0137-4930-AEB4-155AC561026D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>737238EF-AFCC-43D3-A087-80FDE8BCAE50</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>75BC4038-771A-4194-B655-75CB4722E86A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>75BC4038-771A-4194-B655-75CB4722E86A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>297B243E-50AC-45B0-A068-60AE7719FD0A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C80F7AC-1408-4C03-8627-5CA0904D9253</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>85DB4F11-AF27-459E-8D1A-982820923EE1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F3DC3DA-AF5C-4973-A542-1D8813FE0D32</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BBA75C58-EE9D-4A56-AB81-6B589EA6B13E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F83014B-812A-457B-9DBB-FA56CC2F8EDE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>682D1F7F-6C57-4135-9C80-2947256E73AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>808FF62C-FBD1-4D96-92F4-9D660A899A51</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97671326-8FC7-4638-9AD8-37EE1F5B35FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>85DB4F11-AF27-459E-8D1A-982820923EE1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>99F41E36-7F5C-41AD-8220-0A5C955C3DE7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>97671326-8FC7-4638-9AD8-37EE1F5B35FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B12F6DB7-05E8-4DA6-8ECA-E77EB6B5FE43</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>99F41E36-7F5C-41AD-8220-0A5C955C3DE7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D3DB04C0-F3BF-481E-BAEE-AA58D7A8A67A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E58A59B-D9AD-4847-8F90-7D3E54273362</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4359C129-900A-4B45-AC1C-7810C9C534BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A788A69B-39BF-44EA-BB2E-C37D184B0665</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>31600DAD-FC8B-4AFC-BFF1-F74DE9B316DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AC6BCD9F-E6CA-4C4A-9E87-621B88DA8678</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>97671326-8FC7-4638-9AD8-37EE1F5B35FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AFF4720E-B980-42D2-88D7-3C8F5AE2BB15</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3246C05F-EAD0-4C1A-A58F-880C7672A28D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B12F6DB7-05E8-4DA6-8ECA-E77EB6B5FE43</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>66DF7C80-DC96-4716-965B-FD3631B87BE6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BBA75C58-EE9D-4A56-AB81-6B589EA6B13E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AFF4720E-B980-42D2-88D7-3C8F5AE2BB15</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D3D26BCE-9E67-4E1D-BDA5-3CF34C3155BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DFA97F43-A312-45FA-9206-762301F7CE72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D3DB04C0-F3BF-481E-BAEE-AA58D7A8A67A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>808FF62C-FBD1-4D96-92F4-9D660A899A51</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DFA97F43-A312-45FA-9206-762301F7CE72</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>22C5CD97-ADE8-453E-B0A4-F00654CDD445</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E4D2CA9E-A247-4F1E-A561-1B408624D312</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63F1ECA2-93AA-41D0-8867-ED6287A0C468</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>nkmr-jp</string>
	<key>description</key>
	<string>You can: translate and paste text / translate and search / select and translate text / translation history Logging and copying to the clipboard; できること: 翻訳してテキストを貼り付け / 翻訳して検索 / テキストを選択して翻訳 / 翻訳履歴のログ保存とクリップボードへのコピー</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Quick Translate</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Translating...</string>
				<key>script</key>
				<string>PATH=$PATH:/usr/local/bin
TRANS=`trans -b "{query}"`

cat &lt;&lt; EOB
{
	"variables": {
		"input": "{query}",
		"output": "${TRANS}",
		"prefix": "ja2en"
  	},
	"items": [
		{
			"uid": "eg1",
			"title": "${TRANS}",
			"subtitle": "{query}",
			"arg": "${TRANS}"
		}
	]
}
EOB</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>translate.sh</string>
				<key>subtext</key>
				<string>{var:native_lang} → {var:translate_lang} (engine: {var:engine})</string>
				<key>title</key>
				<string>Quick Translate</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1F011D4E-0137-4930-AEB4-155AC561026D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>2F9CA794-B73D-4681-91F7-C085DB042D1D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>input</key>
					<string>{query}</string>
					<key>lang</key>
					<string>{var:native_lang}2{var:translate_lang}</string>
					<key>script_type</key>
					<string>filter</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>70890AC2-ACAA-432B-8A0C-D940027DD8C9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>searcher</key>
				<integer>1635215215</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>5C8BFE82-69F5-4E5B-8A48-B3E8FB2EDA09</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:input}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4359C129-900A-4B45-AC1C-7810C9C534BF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:output}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>AC6BCD9F-E6CA-4C4A-9E87-621B88DA8678</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>{var:log_file}</string>
				<key>filetext</key>
				<string>{var:key}:
  engine: "{var:engine}"
  in: "{var:input}"
  out: "{var:output}"</string>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>66DF7C80-DC96-4716-965B-FD3631B87BE6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>PATH=$PATH:/usr/local/bin
DATETIME=$(gdate "+%y%m%d_%H%M%S_%3N")
echo -n ${DATETIME}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>97671326-8FC7-4638-9AD8-37EE1F5B35FC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>key</key>
					<string>{var:lang}_{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B12F6DB7-05E8-4DA6-8ECA-E77EB6B5FE43</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.google.com/search?q={var:input}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9E58A59B-D9AD-4847-8F90-7D3E54273362</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>1</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>3529227E-21E4-41D1-8E3E-AB6455398B8B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Tlanslating...</string>
				<key>script</key>
				<string>PATH=$PATH:/usr/local/bin
TRANS=`trans :ja -b "{query}"`

cat &lt;&lt; EOB
{
	"variables": {
		"input": "{query}",
		"output": "${TRANS}",
		"prefix": "en2ja"
  	},
	"items": [
		{
			"uid": "eg1",
			"title": "${TRANS}",
			"subtitle": "{query}",
			"arg": "${TRANS}"
		}
	]
}
EOB</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>translate.sh</string>
				<key>subtext</key>
				<string>{var:translate_lang} → {var:native_lang} (engine: {var:engine})</string>
				<key>title</key>
				<string>Quick Translate</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1B5E2D56-7237-4203-9373-8DE982B0E0D1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>input</key>
					<string>{query}</string>
					<key>lang</key>
					<string>{var:translate_lang}2{var:native_lang}</string>
					<key>script_type</key>
					<string>filter</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>456E3E52-A995-4BAB-9F38-07CCE0C82D67</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>7</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>X</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>2DB33E9B-FD0F-4716-9D9E-A996C59BB398</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\t</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<true/>
				<key>replacestring</key>
				<string>    </string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>7F83014B-812A-457B-9DBB-FA56CC2F8EDE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>"</string>
				<key>replacestring</key>
				<string>'</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>682D1F7F-6C57-4135-9C80-2947256E73AB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>input</key>
					<string>{query}</string>
					<key>lang</key>
					<string>{var:translate_lang}2{var:native_lang}</string>
					<key>script_type</key>
					<string>run</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>63F1ECA2-93AA-41D0-8867-ED6287A0C468</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>;</string>
				<key>replacestring</key>
				<string>.</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>E4D2CA9E-A247-4F1E-A561-1B408624D312</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>PATH=$PATH:/usr/local/bin
trans=`trans :ja -b "{query}"`
echo -n $trans</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>translate.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A788A69B-39BF-44EA-BB2E-C37D184B0665</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>lf=$'\\\x0A'
input=$(echo "$input" | sed 's/\. /'". $lf"'/g')
input=$(echo "$input" | sed 's/\。/'"。$lf"'/g')
echo -n "$input"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>input.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AFF4720E-B980-42D2-88D7-3C8F5AE2BB15</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>lf=$'\\\x0A'
input=$(echo "$input" | sed 's/;/'"$lf"'/g')
echo -n "$input"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>75BC4038-771A-4194-B655-75CB4722E86A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:input}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>7C80F7AC-1408-4C03-8627-5CA0904D9253</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:output}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>85DB4F11-AF27-459E-8D1A-982820923EE1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>view_input=$input
view_output=$output

if [[ $input == "*。*" ]]; then 
	view_input=$(echo -n "$input" | fold -w 80)
fi
if [[ $output == "*。*" ]]; then 
	view_output=$(echo -n "$output" | fold -w 80)
fi

if [[ "$view" == "output_only" ]]; then
	echo -n "$view_input"
else
	echo "-- INPUT --"
	echo -n "$view_input"
	echo ""
	echo ""
	echo "-- OUTPUT --"
	echo -n "$view_output"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>view.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>99F41E36-7F5C-41AD-8220-0A5C955C3DE7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>D3DB04C0-F3BF-481E-BAEE-AA58D7A8A67A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>"</string>
				<key>replacestring</key>
				<string>'</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>31600DAD-FC8B-4AFC-BFF1-F74DE9B316DE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:input}
{var:output}</string>
				<key>variables</key>
				<dict>
					<key></key>
					<string></string>
					<key>input</key>
					<string>{var:input}</string>
					<key>output</key>
					<string>{var:output}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>808FF62C-FBD1-4D96-92F4-9D660A899A51</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>input</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3246C05F-EAD0-4C1A-A58F-880C7672A28D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>input</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>297B243E-50AC-45B0-A068-60AE7719FD0A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>output</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>737238EF-AFCC-43D3-A087-80FDE8BCAE50</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>7</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>X</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D3D26BCE-9E67-4E1D-BDA5-3CF34C3155BD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>;</string>
				<key>replacestring</key>
				<string>.</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>7F3DC3DA-AF5C-4973-A542-1D8813FE0D32</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>"</string>
				<key>replacestring</key>
				<string>'</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>22C5CD97-ADE8-453E-B0A4-F00654CDD445</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>input</key>
					<string>{query}</string>
					<key>lang</key>
					<string>{var:native_lang}2{var:translate_lang}</string>
					<key>script_type</key>
					<string>run</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BBA75C58-EE9D-4A56-AB81-6B589EA6B13E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>\t</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<true/>
				<key>replacestring</key>
				<string>    </string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>DFA97F43-A312-45FA-9206-762301F7CE72</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Workflow Enviromnet Variables:
	deepl_api_key:	null(default)
	engine:			google(default,recomend), deepl(recomend)
					aspell, bing, spell, hunspell, apertium, 					yandex, 
	log_file:		~/translate2_log.yml(default)
	native_lang:		ja(default)
	translate_lang:	en(default)
	view:			input_output(default), output_only

Langage codes:
	Please refer to the following sites for language codes.
	
	DeepL:
	https://www.deepl.com/docs-api/translating-text/
	
	Other Engines:
	https://github.com/soimort/translate-shell/wiki/Languages

Note:
	if you want to use deepl you have to regist DeepL Pro API.
	https://www.deepl.com/pro#developer</string>
	<key>uidata</key>
	<dict>
		<key>1B5E2D56-7237-4203-9373-8DE982B0E0D1</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>1F011D4E-0137-4930-AEB4-155AC561026D</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>22C5CD97-ADE8-453E-B0A4-F00654CDD445</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>915</integer>
		</dict>
		<key>297B243E-50AC-45B0-A068-60AE7719FD0A</key>
		<dict>
			<key>xpos</key>
			<integer>1175</integer>
			<key>ypos</key>
			<integer>820</integer>
		</dict>
		<key>2DB33E9B-FD0F-4716-9D9E-A996C59BB398</key>
		<dict>
			<key>note</key>
			<string>Translate Selected Text 

From Native Language</string>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>2F9CA794-B73D-4681-91F7-C085DB042D1D</key>
		<dict>
			<key>note</key>
			<string>Translat in Launcher
 
From Native Language</string>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>31600DAD-FC8B-4AFC-BFF1-F74DE9B316DE</key>
		<dict>
			<key>xpos</key>
			<integer>875</integer>
			<key>ypos</key>
			<integer>820</integer>
		</dict>
		<key>3246C05F-EAD0-4C1A-A58F-880C7672A28D</key>
		<dict>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>820</integer>
		</dict>
		<key>3529227E-21E4-41D1-8E3E-AB6455398B8B</key>
		<dict>
			<key>note</key>
			<string>Translat in Launcher

To Native Language</string>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>4359C129-900A-4B45-AC1C-7810C9C534BF</key>
		<dict>
			<key>xpos</key>
			<integer>930</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>456E3E52-A995-4BAB-9F38-07CCE0C82D67</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>5C8BFE82-69F5-4E5B-8A48-B3E8FB2EDA09</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>63F1ECA2-93AA-41D0-8867-ED6287A0C468</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>730</integer>
		</dict>
		<key>66DF7C80-DC96-4716-965B-FD3631B87BE6</key>
		<dict>
			<key>xpos</key>
			<integer>2170</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>682D1F7F-6C57-4135-9C80-2947256E73AB</key>
		<dict>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>730</integer>
		</dict>
		<key>70890AC2-ACAA-432B-8A0C-D940027DD8C9</key>
		<dict>
			<key>xpos</key>
			<integer>205</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>737238EF-AFCC-43D3-A087-80FDE8BCAE50</key>
		<dict>
			<key>xpos</key>
			<integer>955</integer>
			<key>ypos</key>
			<integer>820</integer>
		</dict>
		<key>75BC4038-771A-4194-B655-75CB4722E86A</key>
		<dict>
			<key>note</key>
			<string>DateTime</string>
			<key>xpos</key>
			<integer>1030</integer>
			<key>ypos</key>
			<integer>790</integer>
		</dict>
		<key>7C80F7AC-1408-4C03-8627-5CA0904D9253</key>
		<dict>
			<key>xpos</key>
			<integer>1250</integer>
			<key>ypos</key>
			<integer>790</integer>
		</dict>
		<key>7F3DC3DA-AF5C-4973-A542-1D8813FE0D32</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>915</integer>
		</dict>
		<key>7F83014B-812A-457B-9DBB-FA56CC2F8EDE</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>730</integer>
		</dict>
		<key>808FF62C-FBD1-4D96-92F4-9D660A899A51</key>
		<dict>
			<key>xpos</key>
			<integer>1840</integer>
			<key>ypos</key>
			<integer>820</integer>
		</dict>
		<key>85DB4F11-AF27-459E-8D1A-982820923EE1</key>
		<dict>
			<key>xpos</key>
			<integer>1390</integer>
			<key>ypos</key>
			<integer>790</integer>
		</dict>
		<key>97671326-8FC7-4638-9AD8-37EE1F5B35FC</key>
		<dict>
			<key>note</key>
			<string>DateTime</string>
			<key>xpos</key>
			<integer>1950</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>99F41E36-7F5C-41AD-8220-0A5C955C3DE7</key>
		<dict>
			<key>note</key>
			<string>DateTime</string>
			<key>xpos</key>
			<integer>1540</integer>
			<key>ypos</key>
			<integer>790</integer>
		</dict>
		<key>9E58A59B-D9AD-4847-8F90-7D3E54273362</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>A788A69B-39BF-44EA-BB2E-C37D184B0665</key>
		<dict>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>790</integer>
		</dict>
		<key>AC6BCD9F-E6CA-4C4A-9E87-621B88DA8678</key>
		<dict>
			<key>xpos</key>
			<integer>1090</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>AFF4720E-B980-42D2-88D7-3C8F5AE2BB15</key>
		<dict>
			<key>note</key>
			<string>DateTime</string>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>790</integer>
		</dict>
		<key>B12F6DB7-05E8-4DA6-8ECA-E77EB6B5FE43</key>
		<dict>
			<key>xpos</key>
			<integer>2100</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>BBA75C58-EE9D-4A56-AB81-6B589EA6B13E</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>915</integer>
		</dict>
		<key>D3D26BCE-9E67-4E1D-BDA5-3CF34C3155BD</key>
		<dict>
			<key>note</key>
			<string>Translate Selected Text

To Native Language</string>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>885</integer>
		</dict>
		<key>D3DB04C0-F3BF-481E-BAEE-AA58D7A8A67A</key>
		<dict>
			<key>xpos</key>
			<integer>1685</integer>
			<key>ypos</key>
			<integer>790</integer>
		</dict>
		<key>DFA97F43-A312-45FA-9206-762301F7CE72</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>915</integer>
		</dict>
		<key>E4D2CA9E-A247-4F1E-A561-1B408624D312</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>730</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>deepl_api_key</key>
		<string></string>
		<key>engine</key>
		<string>deepl</string>
		<key>log_file</key>
		<string>~/translate2_log.yml</string>
		<key>native_lang</key>
		<string>ja</string>
		<key>translate_lang</key>
		<string>en</string>
		<key>view</key>
		<string>input_output</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>deepl_api_key</string>
	</array>
	<key>version</key>
	<string>2.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/nkmr-jp/alfred-quick-translate</string>
</dict>
</plist>
